#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  a {
    font-size: 24px;
    transition: color 0.3s ease;
  }
  a:hover {
    color: #c9c9c9;
  }
}

.quotes-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 727px;
}
