@import 'mixins';
@import 'variables';

.quote {
    position: absolute;
    transform: translate(25%, -55%);

    @include selection-disabled();
    cursor: pointer;
}

.content {
    @include quote-font();
}

.author {
    font-family: $main-font;
    font-size: 18px;

    text-align: right;
    transform: translate(10%, -200%);
}

.shadow {
    width: 600px;
    height: 100px;

  position: absolute;
  transform: translate(-5%, -154%);
  z-index: -1;

  background-color: rgb(0, 0, 0);
  filter: blur(60px);
  opacity: 0.5;

}

  