@import "mixins";

.quotes {
  @include quote-font();
  @include selection-disabled();
}

.blur {
  filter: blur(6px);
}

.quote-bg-1 {
  @include levitation($x: -20%, $y: -220%, $duration: 6.5s);
}

.quote-bg-2 {
  @include levitation($x: 70%, $y: -250%, $duration: 6.8s);
}

.quote-bg-3 {
  @include levitation($x: -10%, $y: -120%, $duration: 7s);
}

.quote-bg-4 {
  @include levitation($x: 135%, $y: -140%, $duration: 6.4s);
}

.quote-bg-5 {
  @include levitation($x: 15%, $y: -20%, $duration: 6.6s);
}

.fade {
  animation: fade 7s ease-in-out;
}

@keyframes fade {
  $default: 1;
  0% {
    opacity: $default;
    scale: $default;
  }
  25% {
    opacity: $default;
    scale: 1.01;
  }
  50% {
    opacity: 0;
    scale: 0.9;
  }
  75% {
    opacity: $default;
    scale: 1.01;
  }
  100% {
    opacity: $default;
    scale: $default;
  }
}

.glowing-box {
  width: 600px;
  height: 150px;

  position: absolute;
  z-index: -2;

  &.left {
    @include glowing($x: 0%, $y: -65%, $duration: 25s);
  }

  &.right {
    @include glowing($x: 25%, $y: -45%, $duration: 20s);
  }

  background-color: rgb(37, 140, 230);
  opacity: 0.7;
}
